<!DOCTYPE html>
<html>

<head>
  <style>
    footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
  }

  footer p{
    color: #f2f2f2;
  }

  footer a {
    color: #f2f2f2;
    text-decoration: none;
  }

  </style>
</head>

<body>
    <footer>
      <p>Desenvolvido por Geverson Araujo e Vinicius Amorim
        <a href="https://github.com/ronaldosc/desafio-analise-dados-procons/tree/main" target="_blank">🐯 Link: Repositório no GitHub</a>
      </p>
    </footer>
</body>

</html>
