{% include 'header.html' %}

<!DOCTYPE html>
<html>

<head>
    <title>Analise Estatística Procon</title>
</head>

<body>
    <h1>Analise Estatística de dados do Procon</h1>
    <a href="https://github.com/ronaldosc/desafio-analise-dados-procons/tree/main">Repositório</a>
    <ul>
        <li><a href="/tendencias">Tendências</a></li>
        <li><a href="/sazonalidade">Sazonalidade</a></li>
        <li><a href="/mapa">Mapa</a></li>
        <li><a href="/variacao-tempo">Variação ao Longo do Tempo</a></li>
        <li><a href="/assuntos-recorrentes">Assuntos Recorrentes</a></li>
        <li><a href="/problemas-comuns">Problemas Comuns</a></li>
        <li><a href="/destaques-regiao-uf">Destaques por Região ou UF</a></li>
        <li><a href="/distribuicao-genero">Distribuição dos Atendimentos por Gênero</a></li>
        <li><a href="/distribuicao-faixa-etaria">Distribuição dos Atendimentos por Faixa Etária</a></li>
        <li><a href="/principais-problemas-genero">Principais Problemas por Gênero</a></li>
        <li><a href="/principais-problemas-faixa-etaria">Principais Problemas por Faixa Etária</a></li>
    </ul>
</body>

</html>
